.possibilities {
	width: 100%;
	margin-top: 120px;
	&__concept {
		margin: 0 auto;
	}
	&__subtitle {
		font-size: 36px;
		text-align: center;
		text-transform: uppercase;
		@include mobile__small {
			font-size: 30px;
		}
	}
	&__blocks {
		width: 70%;
		margin: 0 auto;
		margin-top: 45px;
		@include mobile {
			width: 90%;
		}
	}
	&__choose {
		width: 100%;
		display: flex;
		justify-content: space-between;
		&-title {
			font-size: 30px;
			text-align: center;
			color: var(--color-green);
			@include mobile__small {
				font-size: 18px;
			}
		}
		&-text {
			font-size: 18px;
			text-align: center;
			width: 80%;
			margin: 0 auto;
			@include mobile__small {
				width: 100%;
				font-size: 15px;
			}
		}
	}
	&__buyer {
		max-width: 40%;
		@include desktop__small {
			max-width: 47%;
		}
		@include mobile__small {
			max-width: 49%;
		}
		padding: 20px 20px 40px 20px;
	}
	&__patner {
		max-width: 40%;
		@include desktop__small {
			max-width: 47%;
		}
		padding: 20px 20px 40px 20px;
	}
	&__afterword {
		margin-top: 30px;
	}
	&__choose-get {
		margin-top: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__get {
		width: 40%;
		@include tablet {
			width: 50%;
		}
		padding: 20px 20px 40px 20px;
	}
	&__responsibilities {
		width: 40%;
		@include mobile__small {
			width: 45%;
		}
		padding: 20px 20px 40px 20px;
	}
}
.afterword__text {
	font-size: 23px;
	@include mobile__small {
		font-size: 15px;
	}
}
.choose__title-general {
	font-size: 32px;
	text-align: center;
	@include mobile__small {
		font-size: 18px;
	}
}
.get__list {
	&-block {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&-item {
		position: relative;
		padding-left: 30px;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			@include mobile__small {
				width: 20px;
				height: 20px;
			}
		}
		@include mobile__small {
			padding-left: 25px;
		}
	}
	&-link {
		text-decoration: none;
		color: var(--color-dark);
		font-size: 20px;
		font-weight: 600;
		@include mobile__small {
			font-size: 11px;
		}
	}
}
.join-text {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	font-size: 25px;
	margin-top: 50px;
	@include mobile {
		width: 80%;
	}
	@include mobile__small {
		font-size: 18px;
	}
}
.join__button {
	margin: 0 auto;
	display: block;
	margin-top: 20px;
	background-color: var(--color-pink);
	border: none;
	border-radius: 20px;
	padding: 7px 25px 7px 25px;
	color: var(--color-white);
	font-size: 18px;
	font-weight: 700;
	box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.4);
}
.get__list-item--coin::before {
	background-image: url(/images/icon/coin.svg);
	top: 15%;
}
.get__list-item--products::before {
	background-image: url(/images/icon/produck.svg);
	top: 15%;
}
.get__list-item--idea::before {
	background-image: url(/images/icon/idea.svg);
	top: 10%;
}
.get__list-item--top::before {
	background-image: url(/images/icon/top.svg);
	top: 15%;
}
.get__list-item--market::before {
	background-image: url(/images/icon/market.svg);
	top: 20%;
	@include mobile {
		top: 13%;
	}
}
.get__list-item--consulation::before {
	background-image: url(/images/icon/consultation.svg);
	top: 15%;
}
.get__list-item--organisate::before {
	background-image: url(/images/icon/organisate.svg);
	top: 20%;
}
.get__list-item--world::before {
	background-image: url(/images/icon/world.svg);
}
.get__list-item--help::before {
	background-image: url(/images/icon/help.svg);
}
.get__list-item--exclusive::before {
	background-image: url(/images/icon/exclusive.svg);
}
