body {
	font-family: 'Open Sans', sans-serif;
}
.small-hedden-absolut {
	@include mobile {
		display: none;
	}
}
.small-hidden {
	display: none;
	position: relative;
	width: 60px;
	height: 40px;
	margin-left: 25px;
	@include tablet {
		display: block;
		&::after {
			position: absolute;
			content: '';
			width: 50%;
			height: 2px;
			background-color: var(--color-pink);
			border-radius: 5px;
			box-shadow: 0 -8px, 0 8px;
			right: 10px;
			bottom: 18px;
		}
	}
}
.small-visually {
	display: none;
	width: 32px;
	height: 32px;
	background-image: url(../images/icon/burger.png);
	background-size: cover;
	@include tablet {
		display: block;
	}
}
input::placeholder {
	color: var(--color-green);
}
input {
	outline: none;
}
.title {
	font-size: 46px;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-pink);
	@include mobile__small {
		font-size: 40px;
	}
}
.shadow {
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}
.swiper {
	margin-top: 70px;
	width: 600px;
	height: 600px;
	background-size: cover;
	@include mobile {
		width: 550px;
		height: 550px;
	}
	@include mobile__small {
		width: 320px;
		height: 320px;
	}
}
