:root {
	--color-pink: #de2872;
	--color-green: #3d804e;
	--color-grey: #4d4d4d;
	--color-white: #ffff;
	--color-dark: #000000;
	--theme-sheet-width-xl: 1140px;
	--theme-sheet-width-lg: 940px;
	--theme-sheet-width-md: 720px;
	--theme-sheet-width-sm: 540px;
	--theme-sheet-width-xs: 340px;
}
